<a href="/post/{{id}}" class="group text-sm">
  <div class="flex justify-center w-full aspect-w-1 aspect-h-1 rounded-lg overflow-hidden group-hover:opacity-75">
    <img id="post-img" src="{{img_url}}" alt="User item upload" style="height: 35vh"
      class="object-center object-cover"></img>
  </div>
  <h3 class="mt-4 font-medium text-gray-900 text-xl text-center">
    {{title}}
  </h3>
  <p class="mt-2 font-medium text-gray-900 text-md text-center">
    ${{post_price}}
  </p>
</a>