  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <p class="text-3xl font-extrabold text-transparent sm:text-6xl bg-clip-text bg-gradient-to-r from-green-300 via-blue-500 to-purple-600">Geek Emporium</p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">Your one stop shop for all your nerdy needs!</p>
    </div>
  </div>

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info-homepage post }}
  </li>
  {{/each}}
</ol>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
