{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div class="textarea">
    <input name="comment-body"></input>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}


{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}
